canvas {
    border: 1px solid black;
  }
  
  .controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  button {
    background: #282A3A;
    color: #FFF;
    border-radius: 2px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
  }