
.container{
    background: lightGrey;
    width: max-content;
    margin: auto;
}

.display{
    width: 100%;
    background-color: darkGrey;
    height: 50px;
    font-size: 48px;
    display: flex;
    justify-content: flex-end;
}

.buttons{
    max-width: 400px;
    display:flex;
    flex-wrap: wrap;
}

button{
    flex: 1 25%;
    flex-shrink: 2;
    padding: 15px;
    font-size: 26px;
  } 
  
  .btn-number {
    background-color:grey;
  }
  
  .btn-operator {
    background-color:orange;
  }
  
  .btn-equals {
    background-color:green;
  }
  
  .btn-clear {
     background-color:crimson;
  }